<h2>つぶやきを編集</h2>
<%= form_with model: @post, local: true do |form| %>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 3 %>
  </div>

  <%= form.submit 'Update Post' %>
<% end %>
<%= link_to '戻る', posts_path %>
