<h2>新規投稿</h2>
<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 3 %>
  </div>

  <%= form.submit '投稿' %>
<% end %>
<%= link_to '戻る', posts_path %>
